### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
static_build_files/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# eventual secrets file used in dynaconf (these usually contain passwords which should not be stored in the version control system)
.secrets.*

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Flask:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Environments
# files created with the virtual environment (these are dependent on the developer environment so they should not be stored in the version control system) 
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# files related with IDE VSC or IntelliJ
.idea/*
.vscode/*
**/.password
### VisualStudioCode Patch ###
# Ignore all local history of files
.history


**/__pycache__
# db config file
odi_db_config.yml
config/db_config.yml
design/.DS_Store
.DS_Store
notebooks/data/kddcup.names
notebooks/data/kddcup.data_10_percent
notebooks/data/kddcup.data_10_percent.gz
data/kddcup.data_10_percent
data/kddcup.names
site/404.html
site/index.html
site/index.md
site/main.html
site/sitemap.xml
site/sitemap.xml.gz
site/assets/images/favicon.png
site/assets/javascripts/bundle.d6c3db9e.min.js
site/assets/javascripts/bundle.d6c3db9e.min.js.map
site/assets/javascripts/lunr/tinyseg.js
site/assets/javascripts/lunr/wordcut.js
site/assets/javascripts/lunr/min/lunr.ar.min.js
site/assets/javascripts/lunr/min/lunr.da.min.js
site/assets/javascripts/lunr/min/lunr.de.min.js
site/assets/javascripts/lunr/min/lunr.du.min.js
site/assets/javascripts/lunr/min/lunr.es.min.js
site/assets/javascripts/lunr/min/lunr.fi.min.js
site/assets/javascripts/lunr/min/lunr.fr.min.js
site/assets/javascripts/lunr/min/lunr.hi.min.js
site/assets/javascripts/lunr/min/lunr.hu.min.js
site/assets/javascripts/lunr/min/lunr.it.min.js
site/assets/javascripts/lunr/min/lunr.ja.min.js
site/assets/javascripts/lunr/min/lunr.jp.min.js
site/assets/javascripts/lunr/min/lunr.ko.min.js
site/assets/javascripts/lunr/min/lunr.multi.min.js
site/assets/javascripts/lunr/min/lunr.nl.min.js
site/assets/javascripts/lunr/min/lunr.no.min.js
site/assets/javascripts/lunr/min/lunr.pt.min.js
site/assets/javascripts/lunr/min/lunr.ro.min.js
site/assets/javascripts/lunr/min/lunr.ru.min.js
site/assets/javascripts/lunr/min/lunr.stemmer.support.min.js
site/assets/javascripts/lunr/min/lunr.sv.min.js
site/assets/javascripts/lunr/min/lunr.ta.min.js
site/assets/javascripts/lunr/min/lunr.th.min.js
site/assets/javascripts/lunr/min/lunr.tr.min.js
site/assets/javascripts/lunr/min/lunr.vi.min.js
site/assets/javascripts/lunr/min/lunr.zh.min.js
site/assets/javascripts/workers/search.16e2a7d4.min.js
site/assets/javascripts/workers/search.16e2a7d4.min.js.map
site/assets/stylesheets/main.20d9efc8.min.css
site/assets/stylesheets/main.20d9efc8.min.css.map
site/assets/stylesheets/palette.815d1a91.min.css
site/assets/stylesheets/palette.815d1a91.min.css.map
site/data/data.md
site/data/index.html
site/notebooks/exploration/exploratory_data_analysis/exploratory_data_analysis.ipynb
site/notebooks/exploration/exploratory_data_analysis/index.html
site/notebooks/exploration/target_definition/index.html
site/notebooks/exploration/target_definition/target_definition.ipynb
site/notebooks/play_with_pyod/index.html
site/notebooks/play_with_pyod/play_with_pyod.ipynb
site/search/search_index.json
